@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Montserrat:wght@500;700&family=Prompt:wght@300;600&family=Quicksand:wght@400;700&family=Space+Grotesk:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

body {
    text-align: center;
    background-color: #1C2B2D;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

header{
    color: #ffff;
    padding-top: 1rem;
    font-size: 1.2rem;
}

.cronometro {
    position: absolute;
    top: 3rem;
    right: auto;
    left: auto;

    display: flex;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    width: 60%;
    padding: 2rem;
    margin: 5rem 0rem 0;
    border-radius: 15px;
    background-color: #245953;
}

.timer {
    display: flex;
    font-size: 6rem;
    color: #ffff;
}

.miliseconds {
    padding-top: 0.5rem;
    font-size: 3rem;

}

.container2 {
    width: 6.5rem;
}

.play,
.reset,
.pause,
.return {
    margin: 1rem 0.3rem 0 0;
    padding: 0.6rem 1rem;
    border: none;
    font-size: 1rem;

    border-radius: 4px;
    background-color: rgba(60, 60, 60, 1);
    color: #ffff;

}

.pause {
    display: none;
}

.return {
    display: none;
}

.play:hover,
.reset:hover,
.pause:hover,
.return:hover {
    background-color: #1a1818;
    font-weight: 500;
    cursor: pointer;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    top: auto;

    padding: 1rem;
    font-size: 1rem;

    background-color: #161616;
    color: #fff;

    height: 10rem;
    width: 100%;
}

.dark-mode footer {
    background-color: #272829;
}

footer h3 {
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

footer p {
    padding-bottom: 1rem;
}

footer ul {
    list-style: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.socials li {
    margin: 0 2rem 0 0;
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.socials li:hover {
    background-color: #808080;
}

a {
    text-decoration: none;
}

a img {
    width: 2rem;
    display: flex;
}

@media screen and (max-width:1115px) {


    .cronometro {
        display: flex;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        width: 33rem;
        padding: 1rem;
        margin-top: 6rem;
        border-radius: 15px;
        background-color: #245953;
    }

    .timer {
        display: flex;
        font-size: 5rem;
    }

    .miliseconds {
        padding: 0.5rem 0;
        font-size: 2rem;

    }

    .container2 {
        width: 2.5rem;
    }

    
footer {
    height: 12rem;
    width: 100%;
}


}

@media screen and (max-width:620px) {

    .cronometro {
        width: 90%;
        padding: 3rem 1rem;
        margin-top: 8rem;

    }

    .timer {
        display: flex;
        font-size: 4.5rem;
    }

    .miliseconds {
        padding: 0.5rem 2rem 0 0;
        font-size: 1.5rem;

    }

    .container2 {
        width: 0.5rem;
    }

    .play,
    .reset,
    .pause,
    .return {
        margin: 1rem 0.3rem 0 0;
        padding: 0.6rem 1rem;
        font-size: 0.9rem;

        border-radius: 4px;
    }

}

@media screen and (max-width:450px) {

    .cronometro {
        width: 90%;
        padding: 2.7rem 1rem;
        margin-top: 8rem;

    }

    .timer {
        display: flex;
        font-size: 3.5rem;
    }

    .miliseconds {
        padding: 0.5rem 2rem 0 0;
        font-size: 1rem;

    }

    .container2 {
        width: 2.5rem;
    }

    .play,
    .reset,
    .pause {
        margin: 1rem 0.3rem 0 0;
        padding: 0.6rem 1rem;
        font-size: 0.9rem;

        border-radius: 4px;
    }

}

@media screen and (max-width:620px) {
    .cronometro {
        width: 90%;
        padding: 2.7rem 1rem;
        margin-top: 8rem;

    }

    .timer {
        display: flex;
        font-size: 2.8rem;
    }

    .miliseconds {
        padding: 0.5rem 0;
        font-size: 1rem;

    }
}